// Variabelen
$rood: hsl(357, 75%, 45%);
$zwart: hsl(0, 0%, 7%);
$wit: hsl(0, 0%, 100%);
$grijs: hsl(0, 0%, 85%);
$donkerrood: hsl(357, 100%, 31%);
$f-poppins: 'poppins', sans-serif;
$f-cabin: 'cabin', sans-serif;
$m-top: 30px;
$m-left: 10vw;
$m-right: 10vw;
$c-width: 80vw;