*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  outline: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*::-moz-selection {
  background-color: rgba(200, 29, 37, 0.9);
  color: #FFFFFF;
}

*::selection {
  background-color: rgba(200, 29, 37, 0.9);
  color: #FFFFFF;
}

img::-moz-selection {
  background-color: rgba(0, 0, 0, 0);
}

img::selection {
  background-color: rgba(0, 0, 0, 0);
}

body {
  background-color: #FFFFFF;
}

:root {
  font-weight: auto;
}

:root h1 {
  font-size: 50pt;
}

:root h2 {
  font-size: 36pt;
}

:root h3 {
  font-size: 30pt;
}

:root h4 {
  font-size: 24pt;
}

:root h5 {
  font-size: 18pt;
}

:root h1, :root h2, :root h3, :root h4, :root h5, :root h6 {
  font-family: "poppins", sans-serif;
  color: #121212;
}

:root p {
  font-family: "cabin", sans-serif;
  color: #121212;
}

:root a {
  text-decoration: none;
}

.home .nav nav {
  font-family: "poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 50;
}

.home .nav nav :hover {
  cursor: pointer;
}

.home .nav nav .logo {
  width: 100px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  margin-left: 5vw;
  margin-top: 10px;
}

.home .nav nav ul {
  list-style: none;
  position: absolute;
  right: 5vw;
  top: 35px;
}

.home .nav nav ul li {
  display: inline-block;
  padding: 0px 10px;
  /*.underline {
                        text-decoration: underline;
                    }*/
}

.home .nav nav ul li :hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #C81D25;
          text-decoration-color: #C81D25;
}

.home .nav nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
}

.home .hero_section {
  overflow: hidden;
  height: 100vh;
}

.home .hero_section .hero_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  margin-left: 10vw;
  margin-top: 22vh;
  z-index: 100;
}

.home .hero_section .hero_content h1, .home .hero_section .hero_content abbr {
  color: #FFFFFF;
  position: relative;
  left: -3px;
}

.home .hero_section .hero_content article {
  max-width: 40vw;
}

.home .hero_section .hero_content article p {
  color: #FFFFFF;
  font-family: "cabin", sans-serif;
}

.home .hero_section .hero_bg img.bg_img {
  position: relative;
  margin: 0;
  top: calc(-5vw - 10px);
  left: 0;
  width: 105vw;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.home .hero_section .hero_bg img.bg_div {
  position: absolute;
  width: 100vw;
  z-index: 30;
  bottom: 0;
  outline: none;
}

.home .intro_tekst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0px;
  background-color: #C81D25;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100vw;
  margin-bottom: 0;
}

.home .intro_tekst ::-moz-selection {
  background-color: white;
  color: #C81D25;
}

.home .intro_tekst ::selection {
  background-color: white;
  color: #C81D25;
}

.home .intro_tekst p {
  max-width: 66ch;
  -ms-grid-column-align: center;
      justify-self: center;
  color: #FFFFFF;
  text-align: center;
  font-family: "cabin", sans-serif;
}

.home .erv_cultuur {
  width: 100vw;
  padding: 50px;
  background-color: #dadada;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.home .erv_cultuur img {
  width: 40%;
  margin-left: calc(10vw - 50px);
  border-radius: 3px;
}

.home .erv_cultuur article {
  max-width: 40vw;
}

.home .erv_cultuur article p, .home .erv_cultuur article h2 {
  margin-left: 5vw;
  margin-top: 0%;
  max-width: 40vw;
}

.home .erv_cultuur article h2 {
  padding-top: 0;
  margin-top: 0;
}

.home .disc_parijs {
  position: relative;
  background-color: #FFFFFF;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  margin-top: 30px;
}

.home .disc_parijs .ont_parijs h2 {
  display: block;
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10w;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.home .disc_parijs .cards {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
  margin: 10px 0px;
}

.home .disc_parijs .cards ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10vw;
  margin-right: 10vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .disc_parijs .cards ul li a {
  text-decoration: none;
}

.home .disc_parijs .cards ul li a .card {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  background-color: #dadada;
  border-radius: 15px;
  overflow: hidden;
}

.home .disc_parijs .cards ul li a .card .content {
  padding: 25px 20px 25px;
  max-width: 200px;
}

.home .disc_parijs .cards ul li a .card .content h4 {
  color: #C81D25;
}

.home .disc_parijs .cards ul li a .card .content p {
  font-size: 0.85em;
  max-width: 230px;
}

.home .disc_parijs .cards ul li a .card .image {
  height: 160px;
  overflow: hidden;
}

.home .disc_parijs .cards ul li a .card .image img {
  top: -40px;
}

.footer {
  background-color: #dadada;
  margin-top: 90px;
  padding: 30px 0px 30px;
}

.footer p {
  max-width: 35vw;
}

.footer a {
  color: #C81D25;
  font-family: "poppins", sans-serif;
  font-weight: 700;
  text-decoration: underline;
}

.footer table {
  margin-left: 10vw;
  margin-right: 10vw;
  caption-side: bottom;
}

.footer table caption {
  margin-top: 30px;
}

.footer table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer table tr td {
  display: inherit;
  width: 40vw;
  max-height: 140px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer table tr td span {
  display: inherit;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 40vw;
  height: 140px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.footer table tr td span p {
  font-size: 0.8em;
}

.footer table tr td img.footer_logo {
  width: 150px;
}

.container {
  overflow-y: hidden;
}

.container .nav nav {
  position: fixed;
  width: 100vw;
  font-family: "poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 150;
  background-color: #121212;
  padding-bottom: 10px;
}

.container .nav nav :hover {
  cursor: pointer;
}

.container .nav nav .logo {
  width: 100px;
  margin-left: 5vw;
  margin-top: 10px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.container .nav nav ul {
  list-style: none;
  position: absolute;
  right: 5vw;
  top: 35px;
}

.container .nav nav ul li {
  display: inline-block;
  padding: 0px 10px;
}

.container .nav nav ul li :hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #C81D25;
          text-decoration-color: #C81D25;
}

.container .nav nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
}

.container .nav nav ul li .underline {
  text-decoration: underline;
}

.container .hero_section {
  height: 406px;
  position: relative;
  top: 87px;
}

.container .hero_section header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 300px;
  z-index: 10;
}

.container .hero_section header h1 {
  color: #FFFFFF;
  height: 90px;
  overflow-y: hidden;
}

.container .hero_section header blockquote {
  font-family: "cabin", sans-serif;
  color: #FFFFFF;
  width: 500px;
  text-align: center;
  font-style: italic;
  font-size: 0.9em;
}

.container .hero_section img[src="../import/hero-bg-activiteiten.png"], .container .hero_section img[src="../import/hero-bg-verblijf.png"] img[src="../import/hero-bg-blog.png"] {
  position: relative;
  width: 100vw;
}

.container .hero_section img[src="../import/hero-divider-2.png"] {
  position: relative;
  z-index: 2;
  top: -50px;
}

.container #cultuur, .container #winkelen, .container #tours, .container #hotels, .container #abt_me, .container #abt_pt {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 80vw;
  margin-top: 30px;
  margin-right: 10vw;
  margin-left: 10vw;
  display: block;
  position: relative;
}

.container #cultuur .content, .container #winkelen .content, .container #tours .content, .container #hotels .content, .container #abt_me .content, .container #abt_pt .content {
  margin-top: 20px;
}

.container #cultuur .content .cards, .container #winkelen .content .cards, .container #tours .content .cards, .container #hotels .content .cards, .container #abt_me .content .cards, .container #abt_pt .content .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.container #cultuur .content .cards a, .container #winkelen .content .cards a, .container #tours .content .cards a, .container #hotels .content .cards a, .container #abt_me .content .cards a, .container #abt_pt .content .cards a {
  margin-top: 20px;
  text-decoration: none;
}

.container #cultuur .content .cards a :hover > div, .container #winkelen .content .cards a :hover > div, .container #tours .content .cards a :hover > div, .container #hotels .content .cards a :hover > div, .container #abt_me .content .cards a :hover > div, .container #abt_pt .content .cards a :hover > div {
  background-color: #9e0008;
}

.container #cultuur .content .cards a div, .container #winkelen .content .cards a div, .container #tours .content .cards a div, .container #hotels .content .cards a div, .container #abt_me .content .cards a div, .container #abt_pt .content .cards a div {
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 30px;
  background-color: #C81D25;
  z-index: -1;
}

.container #cultuur .content .cards a div .image, .container #winkelen .content .cards a div .image, .container #tours .content .cards a div .image, .container #hotels .content .cards a div .image, .container #abt_me .content .cards a div .image, .container #abt_pt .content .cards a div .image {
  z-index: 0;
  height: 200px;
  width: 200px;
  position: relative;
  top: -145px;
}

.container #cultuur .content .cards a div .image img, .container #winkelen .content .cards a div .image img, .container #tours .content .cards a div .image img, .container #hotels .content .cards a div .image img, .container #abt_me .content .cards a div .image img, .container #abt_pt .content .cards a div .image img {
  opacity: 0.25;
  z-index: -1;
  height: 200px;
  width: 200px;
}

.container #cultuur .content .cards a div .content, .container #winkelen .content .cards a div .content, .container #tours .content .cards a div .content, .container #hotels .content .cards a div .content, .container #abt_me .content .cards a div .content, .container #abt_pt .content .cards a div .content {
  margin: 25px 15px 10px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  z-index: 100;
  background: none;
  top: 10px;
}

.container #cultuur .content .cards a div .content *, .container #winkelen .content .cards a div .content *, .container #tours .content .cards a div .content *, .container #hotels .content .cards a div .content *, .container #abt_me .content .cards a div .content *, .container #abt_pt .content .cards a div .content * {
  border-radius: 0;
}

.container #cultuur .content .cards a div .content p, .container #winkelen .content .cards a div .content p, .container #tours .content .cards a div .content p, .container #hotels .content .cards a div .content p, .container #abt_me .content .cards a div .content p, .container #abt_pt .content .cards a div .content p {
  font-size: 0.8em;
  margin-top: 5px;
  height: 50px;
  width: 175px;
  overflow: hidden;
}

.container #cultuur .content .cards a div .content p, .container #cultuur .content .cards a div .content h5, .container #winkelen .content .cards a div .content p, .container #winkelen .content .cards a div .content h5, .container #tours .content .cards a div .content p, .container #tours .content .cards a div .content h5, .container #hotels .content .cards a div .content p, .container #hotels .content .cards a div .content h5, .container #abt_me .content .cards a div .content p, .container #abt_me .content .cards a div .content h5, .container #abt_pt .content .cards a div .content p, .container #abt_pt .content .cards a div .content h5 {
  color: #FFFFFF;
}

.container #cultuur .content .cards a div .content h5, .container #winkelen .content .cards a div .content h5, .container #tours .content .cards a div .content h5, .container #hotels .content .cards a div .content h5, .container #abt_me .content .cards a div .content h5, .container #abt_pt .content .cards a div .content h5 {
  height: 55px;
}

.container #cultuur .content .cards a div .content div, .container #winkelen .content .cards a div .content div, .container #tours .content .cards a div .content div, .container #hotels .content .cards a div .content div, .container #abt_me .content .cards a div .content div, .container #abt_pt .content .cards a div .content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 1.5em;
  background: none;
}

.container #abt_pt p {
  width: 55ch;
}

.container #abt_me {
  width: 80vw;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.container #abt_me .content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  display: inherit;
  margin-top: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container #abt_me .content img[src="../import/arrow-tekst.png"] {
  position: absolute;
  z-index: 10;
  right: 180px;
  top: 5px;
  background-color: rgba(0, 0, 0, 0);
}

.container #abt_me .content .s_card {
  padding: 10px;
  background-color: #dadada;
  border-radius: 30px;
  font-size: 0.9em;
  width: 365px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.container #abt_me .content .s_card p {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 200px;
}

.container #abt_me .content .s_card img {
  aspect-ratio: 1/1;
  border-radius: 30px;
  height: 150px;
  width: 150px;
}

.container #abt_me .content .s_card .s_content {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: 151px;
  width: 205px;
}

.container #abt_me .content .s_card .s_content p {
  margin-top: 10px;
}

.container #abt_me .content .s_card .s_content .icons {
  display: inherit;
  text-decoration: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  width: 160px;
  margin-bottom: 10px;
}

.container #abt_me .content .s_card .s_content .icons svg {
  fill: #C81D25;
}

.container #abt_me p {
  width: 55ch;
}

.nav_helpers {
  position: relative;
  width: 100vw;
  z-index: 150;
  top: -50px;
}

.rood {
  color: #C81D25;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #C81D25;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #931b21;
}
/*# sourceMappingURL=style.css.map */