@use '../01-usables/' as *;

.hero_bg {
    img.bg_img {
        position: relative;
        margin: 0;
        top: calc(-5vw - 10px);
        left: 0;
        width: 105vw;
        filter: brightness(0.7);
    }

    img.bg_div {
        position: absolute;
        width: 100vw;
        z-index: 30;
        bottom: 0;
        outline: none;
    }
}