@use '../01-usables/' as *;

// Scrollbar
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $rood;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: hsl(357, 69%, 34%);
}